$accent-color: #0d9488;
$dark-accent-color: #0f766e;
$secondary-color: #f97316;
$white: #fff;
$grey: #e2e8f0;
$dark-grey: #8d8d8d;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $dark-grey;
}

h1, h2, h3 {
    color: black;
}

button:hover {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;

    aside {
        background-color: $accent-color;
        grid-column: 1;
        grid-row: 1 / -1;
        display: grid;
        align-items: start;
        justify-items: start;
        grid-template-rows: 1fr 3fr 6fr;
        z-index: 2;
        
        h1 {
            font-size: 30px;
            align-self: center;
        }

        li {
            font-size: 20px;
        }

        h1, li {
            padding: 10px 30px;
            font-weight: bold;
            i {
                margin-right: 20px;
            }
        }

        a {
            color: $white;
            text-decoration: none;
        }
    }

    header {
        background-color: $white;
        grid-column: 2 / -1;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.4);
        z-index: 1;
        font-size: 18px;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
        padding: 10px 0;
        color: black;

        > div {
            padding: 0 40px;
        }

        img {
            border-radius: 50%;
            background-color: $secondary-color;
        }

        .searchbar {
            display: grid;
            grid-template-columns: 1fr 8fr;
            align-items: center;

            input {
                border: none;
                background-color: $grey;
                border-radius: 20px;
                padding: 8px 20px;
            }
        }

        .user-info {
            display: grid;
            grid-template-columns: 1fr 1fr 3fr;
            justify-items: center;
            align-items: center;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .post-buttons {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
            padding-left: 0;

            button {
                background-color: $accent-color;
                color: $white;
                border: none;
                padding: 10px;
                border-radius: 30px;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: $dark-accent-color;
                }
            }
        }

        .user-greeting {
            display: grid;
            grid-template-columns: 1fr 4fr;

            img {
                width: 70px;
                height: 70px;
                grid-row: 1 / span 2;
            }

            .hi {
                align-self: center;
            }

            .user-name {
                grid-column: 2 / -1;
                font-weight: bold;
                align-self: start;
            }
        }
    }

    @mixin card {
        background-color: $white;
        border-radius: 15px;
        box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2);
    }

    main {
        background-color: $grey;
        grid-column: 2 / -1;
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        padding: 30px;

        h2 {
            font-size: 20px;
            font-weight: bold;
        }

        .projects {
            grid-row: 1 / span 2;

            .projects-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                height: 100%;
                padding: 20px 0;

                article {
                    @include card();
                    padding: 20px;
                    border-left: 10px solid $secondary-color;
                    display: grid;

                    h3 {
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 2;
                        align-self: center;
                    }

                    p {
                        align-self: start;
                    }

                    .project-icons {
                        justify-self: end;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 30px;
                        color: black;

                        i {
                            transition: color 0.2s ease-in-out;

                            &:hover {
                                cursor: pointer;
                                color: $dark-grey;
                            }
                        }
                    }
                }
            }
        }
        
        .announcements {
            font-size: 13px;

            .announcements-container {
                @include card();
                padding: 20px;
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                margin-top: 20px;
    
                article {
                    border-bottom: 1px solid $grey;
                    padding: 10px;
    
                    &:last-child {
                        border: none;
                    }

                    h3 {
                        font-size: 15px;
                        font-weight: bold;
                        line-height: 1.5;
                    }
                }
            }
        }

        .trending {
            font-size: 13px;
            align-self: end;

            .trending-container {
                @include card();
                padding: 20px;
                margin-top: 20px;

                ul {
                    display: grid;
                    gap: 20px;

                    li {
                        display: grid;
                        grid-template-columns: 1fr 3fr;
                        align-items: center;

                        img {
                            border-radius: 50%;
                            width: 50px;
                            height: 50px;
                            grid-row: 1 / 3;
                            margin-right: 10px;
                        }

                        .user-handle {
                            font-weight: bold;
                            color: black;
                        }
                    }
                    

                }
            }
        }

    }
}

